html, body {
  font-family: Verdana,Arial;
  font-size: 32pt;
}

body {
  margin: 0;
  padding: 10px; !important
}

table {
  width: 100%;
	table-layout:fixed;
}

.button a:link, .button a:active, .button a:visited, .button a:hover, .button a:focus {
  color: black;
  font-weight:bold;
  text-decoration: none;
}

.system_button a:link,.system_button a:active,.system_button a:visited,.system_button a:hover,.system_button a:focus {
  color: white;
  font-weight:bold;
  text-decoration: none;
}

input {
	font-size: 32pt;
  width: 300px;
}
  
.page {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 720px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.title {
  background-image: url(img/large/title.png);
  height:64px;
  line-height:64px;
  text-align: center;
  font-weight:bold;
	color: white;
}

.status {
  background-color: #f0f0f0;
  padding: 5px;
}

.status_separator {
  background-image: url(img/large/status_line.png);
  background-color: #f0f0f0;
  height:32px;
  line-height:32px;
  text-align: center;
  font-size:bold;
}

.status_top {
  background-image: url(img/large/status_top.png);
  height:32px;
  line-height:32px;
  text-align: center;
  font-size:bold;
}

.status_bottom {
  background-image: url(img/large/status_bottom.png);
  height:32px;
  line-height:32px;
  text-align: center;
}

.button {
  background-image: url(img/large/button.png);
  height:64px;
  line-height:64px;
  text-align: center;
	font-weight:bold;
	cursor:pointer;
	white-space:nowrap;
}

.system_button {
  background-image: url(img/large/system_button.png);
  height:64px;
  line-height:64px;
  text-align: center;
	font-weight:bold;
	cursor:pointer;
	white-space:nowrap;
	color:white;
}

.caption {
	text-align:center;
	font-weight:bold;
}

.caption_left {
	text-align: left;
	font-weight: bold;
}

.center {
	text-align: center;
}
