# Mapping of the maintenance channels
MAINTENANCE_BAT_BL=MAINTENANCE
MAINTENANCE_BAT_CL=MAINTENANCE
MAINTENANCE_BAT_EL=MAINTENANCE
MAINTENANCE_SD=MAINTENANCE

ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_UNIT.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_UNIT
ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_VALUE.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_VALUE
ALARM_SWITCH_VIRTUAL_RECEIVER.ACOUSTIC_ALARM_SELECTION.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.ACOUSTIC_ALARM_SELECTION
ALARM_SWITCH_VIRTUAL_RECEIVER.OPTICAL_ALARM_SELECTION.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.OPTICAL_ALARM_SELECTION

DIMMER_VIRTUAL_RECEIVER.LEVEL.Unit=100%
DIMMER_VIRTUAL_RECEIVER.ON_TIME.Unit=s
DIMMER_VIRTUAL_RECEIVER.RAMP_TIME.Unit=s
DIMMER_VIRTUAL_RECEIVER.LEVEL.Control=DIMMER.LEVEL
DIMMER_TRANSMITTER.LEVEL.Control=DIMMER_REAL.LEVEL

# ** SHUTTER_CONTACT **
SHUTTER_CONTACT_TRANSCEIVER=SHUTTER_CONTACT
SHUTTER_CONTACT_TRANSCEIVER.STATE.Control=DOOR_SENSOR.STATE
SHUTTER_CONTACT_TRANSCEIVER.STATE.TabOrder=0
SHUTTER_CONTACT_TRANSCEIVER.STATE.Unit=""
# HMIP-SWDO_1=sc_ch
Contact AA_1=sc_ch
# ** END SHUTTER_CONTACT **

# ROTARY_HANDLE_SENSOR**

ROTARY_HANDLE_TRANSCEIVER.STATE.Control=RHS.STATE

# END ROTARY_HANDLE_SENSOR**

# ** REMOTE_CONTROL  **
KEY_TRANSCEIVER.PRESS_SHORT.Control=BUTTON_NO_FUNCTION.SHORT
KEY_TRANSCEIVER.PRESS_LONG.Control=BUTTON_NO_FUNCTION.LONG
KEY_TRANSCEIVER.DBL_PRESS_TIME.Unit=s
KEY_TRANSCEIVER.LONG_PRESS_TIME.Unit=s

# ** END REMOTE_CONTROL **


# ** SMOKE_DETECTOR **

SMOKE_DETECTOR.SMOKE_DETECTOR_ALARM_STATUS.Control=DANGER.STATE
SMOKE_DETECTOR.SMOKE_DETECTOR_COMMAND.Control=SMOKE_DETECTOR.COMMAND

SMOKE_DETECTOR.SMOKE_DETECTOR_EVENT.Disabled=true

# ** END SMOKE_DETECTOR **

# ** eTRV **
Thermostat AA=hmip-etrv
HMIP-eTRV-2=hmip-etrv
HmIP-eTRV-2=hmip-etrv
# ** END eTRV

# ** Motion Detector (SMI) **
MOTIONDETECTOR_TRANSCEIVER.MOTION_DETECTION_ACTIVE.Control=MOTIONDETECTOR_SMI.INVISIBLE
# ** END Motion Detector (SMI) **


SWITCH_VIRTUAL_RECEIVER.ON_TIME.Unit=s
SWITCH_VIRTUAL_RECEIVER.STATE.Control=SWITCH.STATE

SWITCH_TRANSMITTER.STATE.Control=SWITCH_TRANSMITTER.STATE

# ** Pluggable Switch and Meter (PSM) **
COND_SWITCH_TRANSMITTER.COND_TX_THRESHOLD_LO.Unit=mW
COND_SWITCH_TRANSMITTER.COND_TX_THRESHOLD_HI.Unit=mW

ENERGIE_METER_TRANSMITTER.AVERAGING.Unit=s
ENERGIE_METER_TRANSMITTER.TX_THRESHOLD_POWER.Unit=W
ENERGIE_METER_TRANSMITTER.TX_THRESHOLD_ENERGY.Unit=Wh

ENERGIE_METER_TRANSMITTER.ENERGY_COUNTER.Unit=Wh
ENERGIE_METER_TRANSMITTER.VOLTAGE.Unit=V
ENERGIE_METER_TRANSMITTER.CURRENT.Unit=mA
ENERGIE_METER_TRANSMITTER.FREQUENCY.Unit=Hz
ENERGIE_METER_TRANSMITTER.POWER.Unit=W

ENERGIE_METER_TRANSMITTER.VOLTAGE.Control=POWERMETER_PSM.VOLTAGE
ENERGIE_METER_TRANSMITTER.CURRENT.Control=POWERMETER_PSM.CURRENT
ENERGIE_METER_TRANSMITTER.FREQUENCY.Control=POWERMETER_PSM.FREQUENCY
ENERGIE_METER_TRANSMITTER.POWER.Control=POWERMETER_PSM.POWER
ENERGIE_METER_TRANSMITTER.ENERGY_COUNTER.Control=POWERMETER_PSM.ENERGY_COUNTER
ENERGIE_METER_TRANSMITTER.ENERGY_COUNTER_OVERFLOW.Control=POWERMETER_PSM.ENERGY_COUNTER_OVERFLOW

# ** END Pluggable Switch and Meter (PSM) **





# ** Wall Thermostat (WTH / eTRV) **^
HEATING_CLIMATECONTROL_TRANSCEIVER.ACTIVE_PROFILE.Control=HEATING_CONTROL_HMIP.ACTIVE_PROFILE
HEATING_CLIMATECONTROL_TRANSCEIVER.ACTUAL_TEMPERATURE.Control=HEATING_CONTROL_HMIP.TEMPERATURE
HEATING_CLIMATECONTROL_TRANSCEIVER.HUMIDITY.Control=HEATING_CONTROL_HMIP.HUMIDITY
HEATING_CLIMATECONTROL_TRANSCEIVER.SET_POINT_TEMPERATURE.Control=HEATING_CONTROL_HMIP.SETPOINT
HEATING_CLIMATECONTROL_TRANSCEIVER.SET_POINT_MODE.Control=HEATING_CONTROL_HMIP.SETPOINT_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.CONTROL_MODE.Control=HEATING_CONTROL_HMIP.CONTROL_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.BOOST_MODE.Control=HEATING_CONTROL_HMIP.BOOST_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_MODE.Control=HEATING_CONTROL_HMIP.PARTY_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_TIME_START.Control=HEATING_CONTROL_HMIP.PARTY_TIME_START
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_TIME_END.Control=HEATING_CONTROL_HMIP.PARTY_TIME_END
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_SET_POINT_TEMPERATURE.Control=HEATING_CONTROL_HMIP.PARTY_SETPOINT_TEMP
HEATING_CLIMATECONTROL_TRANSCEIVER.WINDOW_STATE.Control=HEATING_CONTROL_HMIP.WINDOW_STATE
# ** END Wall Thermostat (WTH / eTRV) **

# Units for the parameters of the HEATING_CLIMATECONTROL
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_COMFORT.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_LOWERING.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_MAXIMUM.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_MINIMUM.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_OFFSET.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_WINDOW_OPEN.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATUREFALL_VALUE.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_13.Unit=°C
