<div class="popupTitle" id="pTitle"><% Write( system.GetVar("title") ); %></div>

<script type="text/javascript">
	bOkAllowed = true;
<%
  string sType = system.GetVar("type");
  string sID = "";
  integer iColonPos = sType.Find(":");
  %>
  <%
  if ( iColonPos != -1 )
  {
    sID = sType.Substr( iColonPos+1 );
    sType = sType.Substr( 0, iColonPos );
  }
  Write( 'conInfo("InserValue Popup Type = '#sType#'");' );
  Write( 'conInfo("InserValue Popup ID = '#sID#'");' );
  %>
  <%
  object oSD = dom.GetObject( sID );
  if( oSD )
  {
    object oDP = dom.GetObject( oSD.DestinationDP() );
    object oCH = dom.GetObject( oDP.Channel() );
    integer iV = oSD.DestinationValue();
    integer iVT = oSD.DestinationValueType();
    integer iVCH = 0;
    if( iVT == ivtObjectId )
    {
      object oDestCH = dom.GetObject( iV );
      if( oDestCH )
      {
        iVCH = oDestCH.Channel();
      }
    }
  }
  %>
  <%
  string sT = "UNKNOWN TYPE ["#iVT#"]";
  if( iVT == ivtEmpty ) { sT = "ivtEmpty"; }
  if( iVT == ivtNull ) { sT = "ivtNull"; }
  if( iVT == ivtBinary ) { sT = "ivtBinary"; }
  if( iVT == ivtToggle ) { sT = "ivtToggle"; }
  if( iVT == ivtFloat ) { sT = "ivtFloat"; }
  if( iVT == ivtRelScaling ) { sT = "ivtRelScaling"; }
  if( iVT == ivtScaling ) { sT = "ivtScaling"; }
  if( iVT == ivtBitMask ) { sT = "ivtBitMask"; }
  if( iVT == ivtByte ) { sT = "ivtByte"; }
  if( iVT == ivtWord ) { sT = "ivtWord"; }
  if( iVT == ivtDate ) { sT = "ivtDate"; }
  if( iVT == ivtTime ) { sT = "ivtTime"; }
  if( iVT == ivtDateTime ) { sT = "ivtDateTime"; }
  if( iVT == ivtInteger ) { sT = "ivtInteger"; }
  if( iVT == ivtObjectId ) { sT = "ivtObjectId"; }
  if( iVT == ivtSystemId ) { sT = "ivtSystemId"; }
  if( iVT == ivtString ) { sT = "ivtString"; }
  if( iVT == ivtSceneNumber ) { sT = "ivtSceneNumber"; }
  if( iVT == ivtDeviceId ) { sT = "ivtDeviceId"; }
  if( iVT == ivtSpecialValue ) { sT = "ivtSpecialValue"; }
  Write( 'conInfo("DestinationValueType = '#sT#'");' );
  boolean bIsString = ( oDP.ValueType() == ivtString );
  Write( '$("pTitle").innerHTML = translateKey("dialogChooseLEDTitle");' );
%>
</script>
            
<div class="CLASS01200">
  <table cellpadding="0" cellspacing="0" rules="rows" class="popupTableScript CLASS01201" border="1">
    <!--
		<tr >
      
      <td class="CLASS01202">
        <select class="CLASS01203" id="chaType" onchange="changeType()">
          <option><% if( bIsString ) { Write("Texteingabe"); } else { Write("AHA Wert"); } %></option>
          <option>Ger&auml;teauswahl</option>
          <option>Systemzustand</option>
        </select>
      </td>
          if( bIsString )
          {
            Write('<div id="tdEdit">');
              Write("<textarea id='txtVal' cols='20' rows='2' class='CLASS01205'>");
              Write("</textarea>");
            Write('</div>');
          }
          else
          {
            Write('<div id="tdEdit">');
            Write('<a class="CLASS01206">auf</a>');
            Write('<input id="txtVal" type="text" class="CLASS01207" value="0" size="4" />');
            Write('<a class="CLASS01213">');
            Write('<img src="/ise/img/up.png" onclick="valueUp()" class="CLASS01208"/>');
            Write('</a>');
            Write('<a class="CLASS01214">');
            Write('<img src="/ise/img/down.png" onclick="valueDown()" class="CLASS01208"/>');
            Write('</a>');
            Write('<a class="CLASS01209">');
            
            if (oDP.ValueUnit() == "100%")
            {
              Write('%');
            } else 
            {
              Write(oDP.ValueUnit());
            }
            Write('</a>');
            Write('</div>');
          }
        %>
      </td>
			-->
		
  		<%
		
			Write('<tr>');	
				Write('<td style="color:#000000"><span >r</span><span>&nbsp;&nbsp;</span><span>g</span></td>');	
				Write('<td><span>&nbsp;</span></td>');	
				Write('<td style="color:#000000"><span>r</span><span>&nbsp;&nbsp;</span><span>g</span></td>');	
			Write('</tr>');
				
			Write('<tr>');
			
				integer loop = 0;
				Write('<td>');
				while (loop < 8) {		
					Write('<input type="checkbox" name="red" value='#loop#'>');
					Write('<input type="checkbox" name="green" value='#loop#'><br/>');
				loop = loop + 1;
				}
				Write('</td>');

				Write('<td style="color:#000000"></td>');
				integer loop = 0;
				Write('<td>');
				while (loop < 8) {		
					Write('<input type="checkbox" name="red" value='#loop#'>');
					Write('<input type="checkbox" name="green" value='#loop#'><br/>');
					loop = loop + 1;
				}
		  	Write('</td>');
			
			Write('</tr>');
    	%>

		</table>

		<script type="text/javascript">

			var redCheckBoxes = document.getElementsByName("red"),
			greenCheckBoxes = document.getElementsByName("green"),
			loop= 0, loopx = 0, loopy = 0, offset=0, index = 8; 

  		var origValue = '<% Write( iV ); %>',
			origValue = parseInt(origValue),
			binValue = origValue.toString(2),
			binValueReversed = "";
	
			// Set the value of each checkbox 
			for (loop = 0; loop < 16; loop++) {
				redCheckBoxes[loop].value = Math.pow(2, loop * 2);
				greenCheckBoxes[loop].value = Math.pow(2, (loop * 2) + 1);
			}
		
			
			// reverse the bit order e. g.  10000 will reversed to 00001
			// This is necessary because of the arrangement of the leds
			for (loop = binValue.length; loop >= 0; loop--) {
				binValueReversed += binValue.charAt(loop);			
			}
		
			//console.log("orig: " + binValue + " - reversed: " + binValueReversed + " - length: " + binValueReversed.length);	
			
			// Set the checked state of the checkboxes
			for (loop = 0; loop < binValueReversed.length; loop++) {
					if (binValueReversed.charAt(loopx) == "1"){
						redCheckBoxes[loop].checked = true;
					}
					
					if (binValueReversed.charAt(loopx + 1) == "1"){
						greenCheckBoxes[loop].checked = true;
					}
				loopx += 2;
			}			
	
		</script>	
	
		<table class="popupTableScript" class="01201">
    	<tr class="popupTableRow">
      	<td class="CLASS01210">
        	<div class="FooterButton" onclick="PopupClose()" class="CLASS01211">${btnCancel}</div>
      	</td>
      	<td class="CLASS01210">
        	<div class="FooterButton" class="CLASS01211" style="float:right" onclick="SaveOULED16Settings();">${btnOk}</div>
      	</td>
    	</tr>
  	</table>
</div>

<script type="text/javascript">

  translatePage('.FooterButton');

  chnID = '<% Write( iVCH ); %>';
  dpID = '<% Write( iV ); %>';
  conInfo('channel id = '+chnID+' | dp id = '+dpID);
  
  var oldVal = 0; 
  <%
    if( bIsString )
    {
      if( oSD )
      {
        Write('conInfo( "'#oSD.DestinationValue()#'" );');
        Write('oldVal = "'#oSD.DestinationValue()#'";');
      }
    }
    else
    {
      if( oSD && oDP )
      {
        Write('oldVal = '#oDP.ValueMin()#';'); 
        if( oDP.ValueUnit() == "100%" )
        {
          Write('oldVal = oldVal * 100;');
        }
      }
    }
  %>
  
  // $("txtVal").value = oldVal;


SaveOULED16Settings = function()
{
  var redCheckBoxes = document.getElementsByName("red");
	var greenCheckBoxes = document.getElementsByName("green");
	var value = 0;		
	var loop;
	var minValue = 0, maxValue = Math.pow(2, 32) - 1;

	for (loop = 0; loop < redCheckBoxes.length; loop++) {
		if (redCheckBoxes[loop].checked == true) {		
			value = value + parseInt(redCheckBoxes[loop].value); 
		}
	}
					
	for (loop = 0; loop < greenCheckBoxes.length; loop++) {
		if (greenCheckBoxes[loop].checked == true) {
			value = value + parseInt(greenCheckBoxes[loop].value);
		}
	}

  <%
	Write( 'conInfo("SaveOULED16Settings = '#oSD.ID()#'");' );
  %>
  iseSingleDestination.SetValueAndTypeMinMax( <% Write( oSD.ID() ); %>, value, <% Write( oDP.ValueType() ); %>, minValue, maxValue);
};



channelChooser = function()
{
  ChannelChooser.show( function(result)
  {
    if (result)
    {
      chnID = result;
      loadChannelEdit();
    }
  }, ChannelChooser.SHOW_ALL);
};

  sysvarChooser = function()
  {
    var iTypeSelectIndex = $('chaType').selectedIndex;
    dlgResult = "";
    var chooserPopup = new iseMessageBox(ID_SYS_VARS_SELECTION,0,true);
    restorePrevious = function()
    {
      chooserPopup.restorePrevious();
      dlgPopup.readaptSize();
      if (dlgResult != "")
      {
        dpID = dlgResult;
      }
      loadSystemEdit();
    }
    chooserPopup.ShowPopup();
  }

  // Eingegebenen Werte speichern
  saveSysVar = function() {
  }

  changeType = function()
  {
    bOkAllowed = false;
    chnID = 0;
    dpID = 0;
    var iType = $("chaType").selectedIndex;
    switch(iType)
    {
      case 0:
        loadInsertEdit();
        break;
      case 1:
        loadChannelEdit();
        break;
      case 2:
        loadSystemEdit();
        break;
    }
  }
  
  loadInsertEdit = function()
  {
    $("chaType").selectedIndex = 0;
    bOkAllowed = false;
    <%
      string s = "";
      if( bIsString )
      {
        s = s#"<div id='tdEdit'>";
        s = s#"<textarea id='txtVal' cols='20' rows='2' class='CLASS1205'>";
        s = s#"</textarea>";
        s = s#"</div>";
      }
      else
      {
        s = s#"<a class='CLASS01206'>auf</a>";
        s = s#"<input id='txtVal' type='text' class='CLASS01207' value="; s = s#oDP.ValueMin(); s = s#" size='4'/>";
        s = s#"<a class='CLASS01213'>";
        s = s#"<img src='/ise/img/up.png' onclick='valueUp()' value='0' class='CLASS01208'/>";
        s = s#"</a>";
        s = s#"<a class='CLASS01214'>";
        s = s#"<img src='/ise/img/down.png' onclick='valueDown()' class='CLASS01208'/>";
        s = s#"</a>";
        s = s#"<a class='CLASS01209'>";
        
        if (oDP.ValueUnit() == "100%")
        {
          s = s#"%";
        } 
        else 
        {
          s = s#oDP.ValueUnit();
        }
        s = s#"</a>";
        s = s#"</div>";
      }
    %>
    $("tdEdit").innerHTML = "<% Write(s); %>";
    bOkAllowed = true;
  }
    
  loadChannelEdit = function()
  {
    bOkAllowed = false;  
    $("chaType").selectedIndex = 1;
    var s = "";
    s += "<table class='CLASS01212'>";
    s += "<tr>";
    s += "<td>";
    s += "<span id='chnName' onclick='channelChooser()' class='CLASS01215'>...</span> <span id='chnDP' style='display:none;'></span>";
    s += "<div id='chnBtn' onclick='channelChooser()' class='CLASS01217' style='display:none;'>Kanalauswahl</div>";
    s += "</td>";
    s += "</tr>";
    s += "</table>";
    $("tdEdit").innerHTML = s;
    
    var url = "/esp/system.htm?sid="+SessionId;
    var pb = '';
    pb += 'string action = "getChnNameById";';
    pb += 'integer id = "'+chnID+'";';
    var opts =
    {
      postBody: pb
    };
    new Ajax.Updater("chnName", url, opts);
    
    var url = "/esp/system.htm?sid="+SessionId;
    var pb = '';
    pb += 'string action = "CreateDPSelectBox";';
    pb += 'string chid = "'+chnID+'";';
    pb += 'string sdid = "<% Write(oSD.ID()); %>";';
    var opts =
    {
      postBody: pb,
      onComplete: function(t)
      {
        if( iseStripAll(t.responseText) == "" )
        {
          $("chnBtn").show();
        }
        else
        {
          $("chnBtn").hide();
          bOkAllowed = true;
        }
      }
    };
    new Ajax.Updater("chnDP", url, opts);
    
    $("chnDP").show();
  }
  
  loadSystemEdit = function()
  {
    bOkAllowed = false;
    $("chaType").selectedIndex = 2;
    var s = "";
    s += "<table>";
    s += "<tr>";
    s += "<td><span id='sysName' onclick='sysvarChooser()' class='CLASS01215'></span> <span id='sysDP' style='display:none;'></span>";
    s += "<div id='sysBtn' onclick='sysvarChooser()' class='CLASS01217' style='display:none;'>Auswahl";
    s += "</div>";
    s += "</td>";
    s += "</tr>";
    s += "</table>";
    $("tdEdit").innerHTML = s;
    
    var url = "/esp/system.htm?sid="+SessionId;
    var pb = '';
    pb += 'string action = "getChnNameById";';
    pb += 'integer id = "'+dpID+'";';
    var opts =
    {
      postBody: pb,
      onComplete: function(t)
      {
        if( iseStripAll(t.responseText) == "" )
        {
          $("sysBtn").show();
        }
        else
        {
          $("sysBtn").hide();
          bOkAllowed = true;
        }
      }
    };
    new Ajax.Updater("sysName", url, opts);
    $("sysName").show();
  }
  
  <%
    if( iVT == ivtObjectId )
    {
      Write( 'loadChannelEdit();' );
    }
    if( iVT == ivtSystemId )
    {
      Write( 'loadSystemEdit();' );
    }
  %>
  
</script>
