<div id="subOffsetDivPopup"></div>
<div id="divTitle" class="popupTitle">&nbsp;&nbsp;
  
<% 
  Write(system.GetVar("title"));
%>
</div>

<script type="text/javascript">
  fltCL = new iseFilter('fltCL');
  arChns = new Array();
</script>

<div id="ChnTblContentDiv CLASS01000">
<div id="dummy" style="display:none;"></div>
<table class="CLASS01002" cellpadding="0" cellspacing="0" >
<colgroup>
  <col style="width:8%;" />
  <col style="width:8%;" />
  <col style="width:4%;" />
  <col style="width:8%;"/>
  <col style="width:8%;"/>
  <col style="width:8%;"/>
  <col style="width:8%;"/>
  <col style="width:8%;"/>
  <col style="width:8%;"/>
  <col style="width:8%;"/>
  <col style="width:8%;"/>
  <col style="width:8%;"/>
</colgroup> 
<tbody id="chnListBody">
<tr id="rowhead">
<th class="CLASS01003">Name</th>
<th class="CLASS01003">Typen-<br />bezeichnung</th>
<th class="CLASS01003">Bild</th>
<th class="CLASS01003">Bezeich-<br />nung</th>
<th class="CLASS01003">Serien-<br />nummer</th>
<th class="CLASS01003">Interface /<br />Kategorie</th>
<th class="CLASS01003">Übertragungs-<br />modus</th>
<th class="CLASS01003">Gewerk</th>
<th class="CLASS01003">Raum</th>
<th class="CLASS01003">Funktions-<br />test</th>
<th class="CLASS01003">Aktion</th>
<th class="CLASS01003">Verknüpfungen</th>
</tr>
<tr id="rowflt">
<td class="CLASS01004">
  <div id="btnFilterName" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterNameSub" >
      <input id="ftName" type="text" size="15" class="CLASS01006" />
      <div class='FilterSetButton' onclick="setSFilter(fltCL, 'ftName', FIL_NAME);updateTable();$('btnFilterNameSub').hide();" class="CLASS01007">Setzen</div>
      <div class='FilterSetButton' onclick='$("btnFilterNameSub").hide();'>Schliessen</div>
  </div>
</td>
<td class="CLASS01004">
  <div id="btnFilterType" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterTypeSub" >
      <input id="ftType" type="text" size="15" class="CLASS01006" />
      <div class="FilterSetButton" onclick="setSFilter(fltCL, 'ftType', FIL_TYPE);updateTable();$('btnFilterTypeSub').hide();" class="CLASS01007">Setzen</div>
      <div class='FilterSetButton' onclick='$("btnFilterTypeSub").hide();'>Schliessen</div>
  </div>
</td>
<td class="CLASS01008"></td>
<td class="CLASS01004">
  <div id="btnFilterDesc" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterDescSub" >
      <input id="ftDesc" type="text" size="15" class="CLASS01006" />
      <div class="FilterSetButton" onclick="setSFilter(fltCL, 'ftDesc', FIL_DESC);updateTable();$('btnFilterDescSub').hide();" class="CLASS01007">Setzen</div>
      <div class='FilterSetButton' onclick='$("btnFilterDescSub").hide();'>Schliessen</div>
  </div>
</td>

<td class="CLASS01004">
  <div id="btnFilterSN" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterSNSub" >
      <input id="ftSN" type="text" size="15" class="CLASS01006" />
      <div class="FilterSetButton" onclick="setSFilter(fltCL, 'ftSN', FIL_SN);updateTable();$('btnFilterSNSub').hide();" class="CLASS01007">Setzen</div>
      <div class='FilterSetButton' onclick='$("btnFilterSNSub").hide();'>Schliessen</div>
  </div>
</td>

<td class="CLASS01004">
  <div id="btnFilterIface" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterIfaceSub" >
      <table class="CLASS01009">
      <tr>
        <td  class="CLASS01010">Sender</td>
        <td  class="CLASS01010"><input type='checkbox' id='cbSend'/></td>
      </tr>
      <tr>
        <td  class="CLASS01010">Empfänger</td>
        <td  class="CLASS01010"><input type='checkbox' id='cbRec'/></td>
      </tr>
      </table>
      <div class='FilterSetButton' onclick='setIFilter(fltCL, "iface");updateTable();$("btnFilterIfaceSub").hide();'>Setzen</div>
      <div class='FilterSetButton' onclick='$("btnFilterIfaceSub").hide();'>Schliessen</div>
  </div>
</td>
  
<td class="CLASS01004">
  <div id="btnFilterMode" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterModeSub" >
      <table class="CLASS01009">
      <tr>
        <td  class="CLASS01010">Standard</td>
        <td  class="CLASS01010"><input type='checkbox' id='cbStd'/></td>
      </tr>
      <tr>
        <td  class="CLASS01010">Gesichert</td>
        <td  class="CLASS01010"><input type='checkbox' id='cbSafe'/></td>
      </tr>
      </table>
      <div class='FilterSetButton' onclick='setIFilter(fltCL, "mode");updateTable();$("btnFilterModeSub").hide();'>Setzen</div>
      <div class='FilterSetButton' onclick='$("btnFilterModeSub").hide();'>Schliessen</div>
  </div>
</td>

<td class="CLASS01004">
  <div id="btnFilterFunc" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterFuncSub" >
    <% 
      Write("<table class='CLASS01009'>");
      object obj = dom.GetObject(ID_FUNCTIONS);
      if ( obj ) {
        string tmp = "";
        foreach( tmp, obj.EnumEnabledIDs() ) {
          object elem = dom.GetObject(tmp);
          if (elem) {
            string divId = "rdiv"#tmp;
              Write("<tr>");
                Write("<td class='CLASS01011'>"#elem.Name()#"</td>");
                Write("<td class='CLASS01011'><input type='checkbox' id='ff"#elem.ID()#"'/></td>");
              Write("</tr>");
          }
        }
      }
      Write("</table>");
      Write("<div class='FilterSetButton' onclick='setAFilter(fltCL, \"funcs\");updateTable();$(\"btnFilterFuncSub\").hide();'>Setzen</div>");
      Write("<div class='FilterSetButton' onclick='$(\"btnFilterFuncSub\").hide();'>Schliessen</div>");
    %>
  </div>
</td>  
<td class="CLASS01004">
  <div id="btnFilterRoom" class="CLASS01005">Filter</div>
  <div class="FilterSubMenu" style="display:none;" id="btnFilterRoomSub" >
    <% 
      Write("<table class='CLASS01009'>");
      object obj = dom.GetObject(ID_ROOMS);
      if ( obj ) {
        string tmp = "";
        foreach( tmp, obj.EnumEnabledIDs() ) {
          object elem = dom.GetObject(tmp);
          if (elem) {
            string divId = "rdiv"#tmp;
              Write("<tr>");
                Write("<td class='CLASS01011'>"#elem.Name()#"</td>");
                Write("<td class='CLASS01011'><input type='checkbox' id='fr"#elem.ID()#"'/></td>");
              Write("</tr>");
          }
        }
      }
      Write("</table>");
      Write("<div class='FilterSetButton' onclick='setAFilter(fltCL, \"rooms\");updateTable();$(\"btnFilterRoomSub\").hide();'>Setzen</div>");
      Write("<div class='FilterSetButton' onclick='$(\"btnFilterRoomSub\").hide();'>Schliessen</div>");
    %>
  </div>
</td>
  
<td class="CLASS01012"></td>
<td class="CLASS01012"></td>
<td class="CLASS01012"></td>
</tr>
</tbody>
</table>
</div>

<div class="popupControls">
  <table class="CLASS01013">
    <colgroup>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
      <col style="width:8%;"/>
    </colgroup> 
    <tr>
      <td><div onclick="GetActive()" class="FooterButton">Ok</div></td>
      <td><div onclick="PopupClose()" class="FooterButton">Abbrechen</div></td>
      <td><div onclick="fltCL.clearFilters();updateTable();" class="FooterButton CLASS01014">Filter<br />zur&uuml;cksetzen</div></td>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
  </table>
</div>

<%
object obj = dom.GetObject(ID_CHANNELS);
if ( obj ) {
  string tmp = "";
  integer iCount = 0;
  foreach( tmp, obj.EnumEnabledIDs() ) {
    iCount = iCount + 1;
  }   
}
%>

<script type="text/javascript">
  // Build filter object
  var mouseOpts = {
    onTopOver: function(divToShow) {
      selectFilters(fltCL, divToShow);
    }
  };
  new iseSubMenuControl("btnFilterRoom", "btnFilterRoomSub", "chnListBody", {d: 2}, mouseOpts, true);
  new iseSubMenuControl("btnFilterFunc", "btnFilterFuncSub", "chnListBody", {d: 2}, mouseOpts, true);
  new iseSubMenuControl("btnFilterIface", "btnFilterIfaceSub", "chnListBody", {d: 2}, mouseOpts, true);
  new iseSubMenuControl("btnFilterMode", "btnFilterModeSub", "chnListBody", {d: 2}, mouseOpts, true);
  new iseSubMenuControl("btnFilterName", "btnFilterNameSub", "chnListBody", {d: 2}, mouseOpts, true);
  new iseSubMenuControl("btnFilterType", "btnFilterTypeSub", "chnListBody", {d: 2}, mouseOpts, true);
  new iseSubMenuControl("btnFilterDesc", "btnFilterDescSub", "chnListBody", {d: 2}, mouseOpts, true);
  new iseSubMenuControl("btnFilterSN", "btnFilterSNSub", "chnListBody", {d: 2}, mouseOpts, true);

  var sSelIDs = "";
  // Elemente ermitteln die als "Aktiv" gesetzt wurden
  GetActive = function() {
    var actlist = $("chnListBody").getElementsByTagName("input");
    
    for (var i = 0; i < actlist.length; i++) {
      if (actlist[i].type.toLowerCase() == "checkbox") {
        if (actlist[i].id.indexOf("filter") == -1) {
          if (actlist[i].checked) {
            sSelIDs += actlist[i].id.substring(3) + "\t";
          }
        }
      }
    }
    if (sSelIDs.length > 0) {
      sSelIDs = sSelIDs.substr(0, sSelIDs.length - 1);
    }
    dlgResult = sSelIDs;
    // Fenster schließen
    PopupClose();
  }
  new channelListLoader( <%Write(iCount); %>);
  
  updateTable = function() {
    colorFilterBtns(fltCL);
    for (var i = 0; i < arChns.length; i++) {
      if (!fltCL.objPassFilter(arChns[i])) {
        hide(arChns[i]['trid']);
      }
      else {
        show(arChns[i]['trid']);
      }
    }
  }
</script>
