<div class="popupTitle">
<%
  Write(system.GetVar("title"));
%>
</div>
<div id="tableContainer" style="overflow-y:auto; overflow-x:hidden">
  <table class="popupTable" border="1">
    <colgroup>
      <col style="width:25%;"/>
      <col style="width:20%;"/>
      <col style="width:5%;"/>
    </colgroup>
    <tbody id="propTable">
    <script type="text/javascript">
     buildPropTable('<% Write(system.GetVar("id"));  %>');
    </script>
    </tbody>
  </table>
</div>
<table class="popupControls CLASS01501" >
  <colgroup>
    <col style="width:25%;"/>
    <col style="width:25%;"/>
    <col style="width:25%;"/>
    <col style="width:25%;"/>
  </colgroup>
  <tr>
    <td><div onclick="PopupClose()">${dialogEditRoomBtnClose}</div></td>
    <td><div onclick="addNewLine()">${dialogEditRoomBtnNew}</div></td>
    <td></td>
    <td></td>
  </tr>
</table>

<script type="text/javascript">

  tableHasNewLines = function() {
    var tdlist = $("propTable").getElementsByTagName("td");
    for( var i=0; i < tdlist.length; i++ ) {
      var tdId = tdlist[i].id;
      if (tdId == "newName") {
        return true;
      }
    }
    return false;
  };
  addNewLine = function() {
    // Prüfen ob Tabelle schon neue Zeilen hat die noch nicht ausgefüllt wurden
    if (tableHasNewLines()) {
      return;
    }
    new isePropEditorRow(-1, '<% Write(system.GetVar("id"));  %>');
  };
</script>
