<div class="popupTitle" id="pTitle"><% Write( system.GetVar("title") ); %></div>

<script type="text/javascript">
  bOkAllowed = true;
  <%
  string sType = system.GetVar("type");
  string sID = "";
  integer iColonPos = sType.Find(":");
  %>
  <%
  if ( iColonPos != -1 )
  {
    sID = sType.Substr( iColonPos+1 );
    sType = sType.Substr( 0, iColonPos );
  }
  Write( 'conInfo("InserValue Popup Type = '#sType#'");' );
  Write( 'conInfo("InserValue Popup ID = '#sID#'");' );
  %>
  <%
  object oSD = dom.GetObject( sID );
  if( oSD )
  {
    object oDP = dom.GetObject( oSD.DestinationDP() );
    object oCH = dom.GetObject( oDP.Channel() );
    integer iV = oSD.DestinationValue();
    integer iVT = oSD.DestinationValueType();
    integer iVCH = 0;
    if( iVT == ivtObjectId )
    {
      object oDestCH = dom.GetObject( iV );
      if( oDestCH )
      {
        iVCH = oDestCH.Channel();
      }
    }
  }


  %>
  <%
  string sT = "UNKNOWN TYPE ["#iVT#"]";
  if( iVT == ivtEmpty ) { sT = "ivtEmpty"; }
  if( iVT == ivtNull ) { sT = "ivtNull"; }
  if( iVT == ivtBinary ) { sT = "ivtBinary"; }
  if( iVT == ivtToggle ) { sT = "ivtToggle"; }
  if( iVT == ivtFloat ) { sT = "ivtFloat"; }
  if( iVT == ivtRelScaling ) { sT = "ivtRelScaling"; }
  if( iVT == ivtScaling ) { sT = "ivtScaling"; }
  if( iVT == ivtBitMask ) { sT = "ivtBitMask"; }
  if( iVT == ivtByte ) { sT = "ivtByte"; }
  if( iVT == ivtWord ) { sT = "ivtWord"; }
  if( iVT == ivtDate ) { sT = "ivtDate"; }
  if( iVT == ivtTime ) { sT = "ivtTime"; }
  if( iVT == ivtDateTime ) { sT = "ivtDateTime"; }
  if( iVT == ivtInteger ) { sT = "ivtInteger"; }
  if( iVT == ivtObjectId ) { sT = "ivtObjectId"; }
  if( iVT == ivtSystemId ) { sT = "ivtSystemId"; }
  if( iVT == ivtString ) { sT = "ivtString"; }
 if( iVT == ivtSceneNumber ) { sT = "ivtSceneNumber"; }
  if( iVT == ivtDeviceId ) { sT = "ivtDeviceId"; }
  if( iVT == ivtSpecialValue ) { sT = "ivtSpecialValue"; }
  Write( 'conInfo("DestinationValueType = '#sT#'");' );
  boolean bIsString = ( oDP.ValueType() == ivtString );
  Write( '$("pTitle").innerHTML = translateKey("lblSetMode"); conInfo("InsertValue: Set OU_CFM_MODE .");' );
  %>

</script>
            
<div class="CLASS01200">
  <!-- LED --> 
  <table id="tblLED" cellpadding="0" cellspacing="0" rules="rows" class="popupTableScript CLASS01201" border="1" style="display:none">
      <%
        Write('<tbody style="text-align:left">');    
          Write('<tr>');
            ! Write('<td colspan="6" class="OUCFMprop"><span>Kanal Aktiv / Inaktiv:</span></td>');
            Write('<td colspan="6" class="OUCFMprop"><span>${lblChannelActivInactiv}</span></td>');
            Write('<td colspan="5"><select id="ouCFMLevelLED">');
              ! Inaktiv
              Write('<option value="0">${optionInactiv}</option>');
              ! Aktiv
              Write('<option value="1">${optionActiv}</option>');
            Write('</select></td>');
          Write('</tr>');

          Write('</tr>');
            ! Wiederholungen
            Write('<td colspan="6" class="OUCFMprop"><span>${lblRepetition} <span class="hintMinMaxCount"></span></span></td>');
            Write('<td colspan="5"><input id="ouCFMCountLED" type="text" style="text-align:center;" size="3"></td>');
          Write('</tr>');
          
          Write('<tr">');
            ! Abspieldauer
            Write('<td colspan="6" class="OUCFMprop"><span>${lblPlayingTime}</span></td>');
            Write('<td colspan="5" style="color:#000000">');
              Write('<select id="changeDurationModeLED" name="DurationLED" onchange="changeDurMode(this)">');
                ! Write('<option value="false">Normale L&auml;nge</option>');
                Write('<option value="false">${optionNormalLength}</option>');
                ! Write('<option value="true">L&auml;nge angeben</option>');
                Write('<option value="true">${optionSetLength}</option>');
              Write('</select>');
            Write('</td>'); 
          Write('</tr>');

          Write('<tr id="manualDurationLED" style="visibility:hidden">');
            ! Dauer hh:mm:ss
            Write('<td colspan="6"  class="OUCFMprop"><span>${lblDurationHHmmSS} </span></td>');
            Write('<td colspan="5" style="color:#000000"><input id="ouCFMDurationHHLED" type="text" style="text-align:center;" size="3">:<input id="ouCFMDurationMMLED" type="text" style="text-align:center;" size="3">:<input id="ouCFMDurationSSLED" type="text" style="text-align:center;" size="3"></td>');
          Write('</tr>');

          
          Write('<tr>');
            ! Write('<td colspan="11" class="OUCFMcenter">Wahl der Blinkfolge</td>');
            Write('<td colspan="11" class="OUCFMcenter">${selectFlashSequence}</td>');
          Write('</tr>');
          Write('<tr>');
            Write('<td style="color:#000000; text-align:center;"></td>');
            Write('<td style="color:#000000; text-align:center;">1</td>');
            Write('<td style="color:#000000; text-align:center;">2</td>');
            Write('<td style="color:#000000; text-align:center;">3</td>');
            Write('<td style="color:#000000; text-align:center;">4</td>');
            Write('<td style="color:#000000; text-align:center;">5</td>');
            Write('<td style="color:#000000; text-align:center;">6</td>');
            Write('<td style="color:#000000; text-align:center;">7</td>');
            Write('<td style="color:#000000; text-align:center;">8</td>');
            Write('<td style="color:#000000; text-align:center;">9</td>');
            Write('<td style="color:#000000; text-align:center;">10</td>');
          Write('</tr>');
          Write('<tr id="allOff" class="OUCFMcenter">');
            ! Aus
            Write('<td class="OUCFMprop">${lblOff}</td>');
              Write('<td><input type="radio" name="r0" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="0" checked="checked" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="0" checked="checked" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');
          Write('<tr class="OUCFMcenter">');
            ! Orange kurz
            Write('<td id="lblOrangeShort" class="OUCFMprop">${lblOrangeShort}</td>');
              Write('<td><input type="radio" name="r0" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="31" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="31" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');
           Write('<tr class="OUCFMcenter">');
            Write('<td id="lblOrangeLong" class="OUCFMprop">${lblOrangeLong}</td>');
              Write('<td><input type="radio" name="r0" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="32" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="32" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');
          Write('<tr class="OUCFMcenter">');
            Write('<td class="OUCFMprop">${lblRedShort}</td>');
              Write('<td><input type="radio" name="r0" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="11" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="11" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');
          Write('<tr class="OUCFMcenter">');
            Write('<td class="OUCFMprop">${lblRedLong}</td>');
              Write('<td><input type="radio" name="r0" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="12" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="12" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');
          Write('<tr class="OUCFMcenter">');
            Write('<td class="OUCFMprop">${lblGreenShort}</td>');
              Write('<td><input type="radio" name="r0" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="21" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="21" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');
          Write('<tr class="OUCFMcenter">');  
            Write('<td class="OUCFMprop">${lblGreenLong}</td>');
              Write('<td><input type="radio" name="r0" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="22" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="22" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');


          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblBlueShort}</td>');
              Write('<td><input type="radio" name="r0" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="41" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="41" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');

          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblBlueLong}</td>');
              Write('<td><input type="radio" name="r0" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="42" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="42" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');


          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblPurpleShort}</td>');
              Write('<td><input type="radio" name="r0" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="51" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="51" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');

          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblPurpleLong}</td>');
              Write('<td><input type="radio" name="r0" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="52" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="52" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');

          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblCyanShort}</td>');
              Write('<td><input type="radio" name="r0" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="61" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="61" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');

          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblCyanLong}</td>');
              Write('<td><input type="radio" name="r0" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="62" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="62" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');

          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblWhiteShort}</td>');
              Write('<td><input type="radio" name="r0" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="71" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="71" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');

          Write('<tr class="OUCFMcenter j_extendedColor hidden">');
            Write('<td class="OUCFMprop">${lblWhiteLong}</td>');
              Write('<td><input type="radio" name="r0" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="72" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="72" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');

          Write('<tr class="OUCFMcenter">');
            Write('<td class="OUCFMprop">${lblBreak}</td>');
              Write('<td><input type="radio" name="r0" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r1" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r2" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r3" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r4" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r5" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r6" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r7" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r8" value="2" onclick="isValueValid(this)"></td>');
              Write('<td><input type="radio" name="r9" value="2" onclick="isValueValid(this)"></td>');
            Write('</td>');
          Write('</tr>');
        Write('</tbody>');

      %>
    </table>


  <!-- GONG -->
  <table id="tblCHIME" cellpadding="0" cellspacing="0" rules="rows" class="popupTableScript CLASS01201" border="1" style="display:none">
      <%
        Write('<tbody style="text-align:left">');    
          Write('<tr>');
           Write('<td class="OUCFMprop" style="color:#000000"><span>${lblVolume}</span></td>');
            Write('<td><select id="ouCFMLevel">'); 
              Write('<option value="0">${lblOff}</option>');
              Write('<option value="1">10%</option>'); 
              Write('<option value="2">20%</option>'); 
              Write('<option value="3">30%</option>'); 
              Write('<option value="4">40%</option>'); 
              Write('<option value="5">50%</option>'); 
              Write('<option value="6">60%</option>'); 
              Write('<option value="7">70%</option>'); 
              Write('<option value="8">80%</option>'); 
              Write('<option value="9">90%</option>'); 
              Write('<option value="10">100%</option>'); 
            Write('</select></td>');
          Write('</tr>');

          Write('</tr>');
           Write('<td class="OUCFMprop" ><span>${lblRepetition} <span class="hintMinMaxCount"></span></span></td>');
           Write('<td><input id="ouCFMCount" type="text" style="text-align:center;" size="3"></td>'); 
          Write('</tr>');
          
          Write('<tr">');
            Write('<td class="OUCFMprop"><span>${lblPlayingTime}</span></td>');
            Write('<td>');
              Write('<select id="changeDurationMode" name="Duration" onchange="changeDurMode(this)">');
                Write('<option value="false">${optionFileLength}</option>');
                Write('<option value="true">${optionSetLength}</option>');
              Write('</select>');
            Write('</td>'); 
          Write('</tr>');

          Write('<tr id="manualDuration" style="visibility:hidden">');
            Write('<td class="OUCFMprop"><span>${lblDurationHHmmSS}</span></td>');
            Write('<td style="color:#000000"><input id="ouCFMDurationHH" type="text" style="text-align:center;" size="3">:<input id="ouCFMDurationMM" type="text" style="text-align:center;" size="3">:<input id="ouCFMDurationSS" type="text" style="text-align:center;" size="3"></td>'); 
          Write('</tr>');

          
          Write('<tr>');
            ! Write('<td class="OUCFMprop">max. <span class="hintMinMaxAction"></span><span>&nbsp; MP3-Files ( z. B. 1, 4, 5, 24)</span></td>');
            Write('<td class="OUCFMprop">${lblMaximalShort} <span class="hintMinMaxAction"></span><span>&nbsp; ${lblMP3SelectHelp}</span></td>');
            Write('<td><input id="ouCFMAction" type="text" size="20"></td>');
          Write('</tr>');
        Write('</tbody>');
      %>
    </table>
      
    <table class="popupTableScript" class="01201">
      <tr class="popupTableRow">
        <td class="CLASS01210">
          <div class="FooterButton" onclick="PopupClose()" class="CLASS01211">${btnCancel}</div>
        </td>
        <td class="CLASS01210">
          <div class="FooterButton" class="CLASS01211" style="float:right" onclick="SaveOUCFMModeSettings();">${btnOk}</div>
        </td>
      </tr>
    </table>
</div>

<script type="text/javascript">
  chnID = '<% Write( iVCH ); %>';
  dpID = '<% Write( iV ); %>';
  conInfo('channel id = '+chnID+' | dp id = '+dpID);
  
  var oldVal = 0; 
  <%
    if( bIsString )
    {
      if( oSD )
      {
        Write('conInfo( "'#oSD.DestinationValue()#'" );');
        Write('oldVal = "'#oSD.DestinationValue()#'";');
      }
    }
    else
    {
      if( oSD && oDP )
      {
        Write('oldVal = '#oDP.ValueMin()#';'); 
        if( oDP.ValueUnit() == "100%" )
        {
          Write('oldVal = oldVal * 100;');
        }
      }
    }
  %>
function init()  {
  var channelType = getChannelType();

  showRelevantTbl(channelType); 
  
  switch (channelType) {
    case "SIGNAL_LED":
      checkAndActivateExtendedColors();
      setChannel1();
      break;
    case "SIGNAL_CHIME":
      setChannel2();
      break;
    default:
      alert("Fehler"); // sollte nie auftreten
      break; 
  }
  dlgPopup.readaptSize();
};

function setChannel1() {
  var minMaxValues = getMaxValues();
  var origValue = '<% Write( iV ); %>'; // z. B. 0.8,1,108000,1,2,3,4,7
  
  if (origValue == 0 || origValue == "0") {
    origValue = getDefaultValue(1);//"0,0," + minMaxValues.max.duration + ",0";
  }
  var origValues = origValue.split(","); 
  var level = parseInt(origValues[0]); // 0 / 1 
  var count = parseInt(origValues[1]); // 0 - 255
  var duration = parseInt(origValues[2]); // 0 - 108000
  var oTime = convertSeconds2HHMMSS(duration, minMaxValues.max.duration); 

  document.getElementById("ouCFMLevelLED").options[level].selected = true; // Level 
  document.getElementById("ouCFMCountLED").value = count;
  document.getElementById("ouCFMDurationHHLED").value = oTime.hr;
  document.getElementById("ouCFMDurationMMLED").value = oTime.min;
  document.getElementById("ouCFMDurationSSLED").value = oTime.sec;
  getOUCFMLEDAction(origValues);

  // Wenn die maximale Zeit angegeben ist, dann schalte die freie Zeitangabe unsichtbar 
  if (duration == minMaxValues.max.duration) {
    showManualDurationElem("false", "DurationLED");
    document.getElementById("changeDurationModeLED").selectedIndex = 0;
  } else {
    showManualDurationElem("true", "DurationLED");
    document.getElementById("changeDurationModeLED").selectedIndex = 1;
  }

  setHintMinMax(minMaxValues);
   
};

function setChannel2() {
  var minMaxValues = getMaxValues();
  var origValue = '<% Write( iV ); %>'; // z. B. 0.8,1,108000,1,2,3,4,7
  
  if (origValue == 0 || origValue == "0") {
    origValue = getDefaultValue(2);//"1.0,1," + minMaxValues.max.duration + ",0";
  }
  var origValues = origValue.split(","); 
  var level = parseInt(origValues[0] * 10); // z. B.parseInt(0.8 * 10) = 8 
  var count = parseInt(origValues[1]); // 0 - 255
  var duration = parseInt(origValues[2]); // 0 - 108000
  var oTime = convertSeconds2HHMMSS(duration, minMaxValues.max.duration); 

  document.getElementById("ouCFMLevel").options[level].selected = true; // Level 
  document.getElementById("ouCFMCount").value = count;
  document.getElementById("ouCFMDurationHH").value = oTime.hr;
  document.getElementById("ouCFMDurationMM").value = oTime.min;
  document.getElementById("ouCFMDurationSS").value = oTime.sec;
  document.getElementById("ouCFMAction").value = getOUCFMAction(origValues);
  
  // Wenn die maximale Zeit angegeben ist, dann schalte die freie Zeitangabe unsichtbar 
  if (duration == minMaxValues.max.duration) {
    showManualDurationElem("false", "Duration");
    document.getElementById("changeDurationMode").selectedIndex = 0;
  } else {
    showManualDurationElem("true", "Duration");
    document.getElementById("changeDurationMode").selectedIndex = 1;
  }  

  setHintMinMax(minMaxValues);

};

function getDefaultValue(ch) {
  var minMaxValues = getMaxValues();
  
  switch (ch) {
    case 1: 
      return "0,0," + minMaxValues.max.duration + ",0";
    case 2:
      return "1.0,1," + minMaxValues.max.duration + ",0";
    default: 
      return "0,0,0,0"; // sollte niemals eintreten
  }
};

function setHintMinMax(minMax) {
  var minMaxCountElems = $$(".hintMinMaxCount");
  var minMaxActionElems = $$(".hintMinMaxAction");
  
  for (var loop = 0; loop < minMaxCountElems.length; loop++) {
    //minMaxCountElems[loop].innerHTML = "(" + minMax.min.count + " - " + minMax.max.count + ")";
    minMaxCountElems[loop].appendChild(document.createTextNode("(" + minMax.min.count + " - " + minMax.max.count + ")"));
  }

  for (var loop = 0; loop < minMaxActionElems.length; loop++) {
    //minMaxActionElems[loop].innerHTML = minMax.max.actionLength;
    minMaxActionElems[loop].appendChild(document.createTextNode(minMax.max.actionLength));
  }


};

/*
printArray = function(arr) {
  for (var loop = 0; loop < arr.length; loop++) {
    console.log(loop + ": " + arr[loop]);
  }
};
*/ 

// setzt die Radio-Buttons entsprechend des Wertes
function getOUCFMLEDAction(values) {
  var arrValues = [];
  var isZero = false;
  
  for(var loop = 3; loop < values.length; loop++) {
    if (isZero == false) {
      arrValues.push(parseInt(values[loop]).toString(16)); // we need the value as hex val   
      
      // beim ersten Auftreten einer 0 sind alle weiteren Einträge auch auf 0 zu setzen
      if (parseInt(values[loop]) == 0) {
        isZero = true;
      }
    } else {
      arrValues.push(0); // we need the value as hex val   
    }
  }
  
  //printArray(arrValues);
  
  //nimm dir jede der 10 Spalten einzeln vor
  for (var loop = 0; loop <= 9; loop++) {
    var arrRadioButtons = document.getElementsByName("r"+loop); // alle Buttons der jeweiligen Spalte
    
    // gehe durch alle Buttons und setze denjenigen aktiv, dessen Wert gefunden wurde
    for (var loopy = 0; loopy < arrRadioButtons.length; loopy++) {
      
      //console.log(arrRadioButtons[loopy].value + " " + arrValues[loop]);

      if (arrRadioButtons[loopy].value == arrValues[loop]) {
        arrRadioButtons[loopy].checked = true;
      }
    }
  } 
};

function getOUCFMAction(values) {
  var action = "";
    
  for(loop = 3; loop < values.length; loop++) {
    action += values[loop];
    if (loop < (values.length - 1) ) {
      action += ",";
    }
  }        
  return action;
};

function convertSeconds2HHMMSS(seconds, maxValue) {
  
  // HM-1313  
  if (seconds >= maxValue) {
    seconds = 0;
  }

  var hhmmss = {};
  hhmmss.hr = parseInt(seconds / 3600);
  seconds %= 3600;
  hhmmss.min = parseInt(seconds / 60);
  hhmmss.sec = seconds % 60;
 
  hhmmss.hr = (hhmmss.hr < 10) ? "0" + hhmmss.hr : hhmmss.hr;
  hhmmss.min = (hhmmss.min < 10) ? "0" + hhmmss.min : hhmmss.min;
  hhmmss.sec = (hhmmss.sec < 10) ? "0" + hhmmss.sec : hhmmss.sec;

  return hhmmss;  
};


// Returns the channel type, currently either 'SIGNAL_LED' or 'SIGNAL_CHIME'
function getChannelType() {
  return '<% Write( dom.GetObject(oCH).HssType()); %>'; 
};

function getChannelLabel() {
  return '<% Write( dom.GetObject(oCH).Label()); %>';
}

function showRelevantTbl(chType) {
  var tblID = {};

  tblID.SIGNAL_LED = "tblLED";
  tblID.SIGNAL_CHIME = "tblCHIME";

  var tbl = document.getElementById(tblID[chType]);
  tbl.style.display = "table";
};

function checkAndActivateExtendedColors(channelLabel) {
  if (getChannelLabel() == "HM-OU-CFM-TW") {
    jQuery("#lblOrangeShort").text(translateKey("lblYellowShort"));
    jQuery("#lblOrangeLong").text(translateKey("lblYellowLong"));
    jQuery(".j_extendedColor").show();
  }
};

function showManualDurationElem(mode, name) {
  var manualDurationElm = document.getElementById("manual" + name);

  if (mode == "true") {
    manualDurationElm.style.visibility = "visible";
  } else {
    manualDurationElm.style.visibility = "hidden";
  }
};
  
function getMaxValues() {
  var minMax = {};
  
  minMax.min = {};
  minMax.max = {};

  minMax.min.level = 0;
  minMax.min.count = 0;
  minMax.min.duration = 0;
  minMax.min.ActionLength = 0;

  minMax.max.level = 1.0;
  minMax.max.count = 255;
  minMax.max.duration = 108000;
  minMax.max.actionLength = 10;

  return minMax;
};

function setMinMax(param, val) {
  var minMax = getMaxValues();
  var value = 0;
   
  if(isNaN(parseInt(val))) {
    value = minMax.min[param];
    return value;
  }

  value = (parseInt(val) < minMax.min[param]) ? minMax.min[param] : val ;
  value = (parseInt(value) > minMax.max[param]) ? minMax.max[param] : value ;

  return value;
};

function checkMinMax(oVal) {

  oVal["level"] = setMinMax("level", oVal.level);
  oVal["count"] = setMinMax("count", oVal.count);
  oVal["duration"] = setMinMax("duration", oVal.duration);
  
  return oVal;
};

function getUserTime(ch) {
  
  var LED = "";
  if (ch == "1") {
    LED = "LED";
  }
    
  var newTime = 0;
  var timeHH = parseInt(document.getElementById("ouCFMDurationHH" + LED).value); 
  var timeMM = parseInt(document.getElementById("ouCFMDurationMM" + LED).value);
  var timeSS = parseInt(document.getElementById("ouCFMDurationSS" + LED).value);
  var changeDurationSelBox = document.getElementById("changeDurationMode" + LED);
  var minMaxValues = getMaxValues();
  
  if (changeDurationSelBox.options[0].selected == true) {
   // maximaler Wert 
   newTime = minMaxValues.max.duration;       
  } else {
  
    if (timeHH > 0) {
      newTime += timeHH * 3600;
    }
    if (timeMM > 0) {
      newTime += timeMM * 60;
    } 
  
    newTime += timeSS; 
  }
  
  return newTime.toString();
};

// liest die selectierten Radio-Buttons aus und generiert daraus den entsprechenden Wert
function getLEDAction() {
  var arrElements = [];
  var arrValues = []; 
  var settings = "";
  var isZero = false;

  // Spalten 1 - 10
  for (var loop = 0; loop <= 9; loop++) {
    arrElements = document.getElementsByName("r" + loop);
     
    // Das selektierte Element finden und dessen Wert innerhalb arrValues ablegen. 
    // Find the 
    for (var i = 0; i < arrElements.length; i++) {
      if (arrElements[i].checked == true) {
        arrValues.push(parseInt(arrElements[i].value, 16)); // values are noted as hex value but we need them as int
      }
    }
  }
  
  for (var loop = 0; loop < arrValues.length; loop++) {
    settings += arrValues[loop];
    if(loop < (arrValues.length -1)) {
      settings += ",";
    }
  }        
  return settings;
};

function getLEDSettings() {
  var levelSelBox = document.getElementById("ouCFMLevelLED"); // Level 
  var oValues = {};
  var settings = "";
 
  oValues.level = parseFloat(levelSelBox.options[levelSelBox.selectedIndex].value);
  oValues.count = document.getElementById("ouCFMCountLED").value;
  oValues.duration = getUserTime(1); 

  oValues.action = getLEDAction();
    
  oValues = checkMinMax(oValues);

  settings += oValues.level + ",";
  settings += oValues.count + ",";
  settings += oValues.duration + ",";
  settings += oValues.action;

  //console.log("settings: " + settings);
  
  return settings;

};

function getCHIMESettings() {
  var levelSelBox = document.getElementById("ouCFMLevel"); // Level 
  var oValues = {};
  var settings = "";
 
  oValues.level = parseFloat(levelSelBox.options[levelSelBox.selectedIndex].value / 10);
  oValues.count = document.getElementById("ouCFMCount").value;
  oValues.duration = getUserTime(2); 
  oValues.action = document.getElementById("ouCFMAction").value;

  oValues = checkMinMax(oValues);

  settings += oValues.level + ",";
  settings += oValues.count + ",";
  settings += oValues.duration + ",";
  settings += oValues.action;
  
  return settings;

};

function getUserSettings() { 
  switch (getChannelType()) {
    case "SIGNAL_LED":
      return getLEDSettings();
      break;
    case "SIGNAL_CHIME":
     return getCHIMESettings();
  }
};

// schaltet manuelle Zeiteingabe sichtbar - unsichtbar
function changeDurationMode(elem) {
  var durationModeSelBox = document.getElementById(elem.id);   
  var modus = durationModeSelBox.options[durationModeSelBox.selectedIndex].value ;
    
  showManualDurationElem(modus, elem.name); 
};

// Prüft, ob 'Aus' gewählt wurde und setzt alle nachfolgenden Elemente auch auf aus
// Prüft, ob das vorhergehende Element auf 'Aus' steht. Ist das der Fall, kann für das gewählte Element nur 'Aus' gelten. 
isValueValid = function(rButton) {
  var rowNr = parseInt(rButton.name.substring(1));
  var prevOffElemName = "r" + (rowNr - 1).toString();
  var nextOffElemNr = rowNr + 1;
  var allOffRow = document.getElementById("allOff");
  var allOffElements = allOffRow.getElementsByTagName("input");
  // Wenn das Element auf 'Aus' gestellt wird, setze alle nachfolgenden Elemente auch auf Aus
  if(rButton.value == "0") {
    for (var loop = nextOffElemNr; loop < allOffElements.length; loop++) {
      allOffElements[loop].checked = true;
    }
  } else {
  // Laufe durch alle off-RadioBoxen 
    for (var loop = 0; loop < allOffElements.length; loop++) {
      // checke, welche RadioBox den gleichen Namen wie das geklickte Element hat und setze diese Box checked
      if (allOffElements[loop].name == prevOffElemName) {    
        if (allOffElements[loop].checked == true) {    
          allOffElements[loop + 1].checked = true;        
        }
      }           
    }  
  }
};

changeDurMode = function(elem) {
  changeDurationMode(elem);
};

SaveOUCFMModeSettings = function()
{
  value = getUserSettings();  
  
  <%
  Write( 'conInfo("SaveOUCFMModeSettings = '#oSD.ID()#'");' );
  %>
  // iseSingleDestination.SetValueAndTypeMinMax( <% Write( oSD.ID() ); %>, value, <% Write( oDP.ValueType() ); %>, minValue, maxValue);
  iseSingleDestination.SetValueAndType( <% Write( oSD.ID() ); %>, value, <% Write( oDP.ValueType() ); %>);

};

channelChooser = function()
{
  ChannelChooser.show( function(result)
  {
    if (result)
    {
      chnID = result;
      loadChannelEdit();
    }
  }, ChannelChooser.SHOW_ALL);
};

  sysvarChooser = function()
  {
    var iTypeSelectIndex = $('chaType').selectedIndex;
    dlgResult = "";
    var chooserPopup = new iseMessageBox(ID_SYS_VARS_SELECTION,0,true);
    restorePrevious = function()
    {
      chooserPopup.restorePrevious();
      dlgPopup.readaptSize();
      if (dlgResult != "")
      {
        dpID = dlgResult;
      }
      loadSystemEdit();
    }
    chooserPopup.ShowPopup();
  }

  // Eingegebenen Werte speichern
  saveSysVar = function() {
  }

  changeType = function()
  {
    bOkAllowed = false;
    chnID = 0;
    dpID = 0;
    var iType = $("chaType").selectedIndex;
    switch(iType)
    {
      case 0:
        loadInsertEdit();
        break;
      case 1:
        loadChannelEdit();
        break;
      case 2:
        loadSystemEdit();
        break;
    }
  }
  
  loadInsertEdit = function()
  {
    $("chaType").selectedIndex = 0;
    bOkAllowed = false;
    <%
      string s = "";
      if( bIsString )
      {
        s = s#"<div id='tdEdit'>";
        s = s#"<textarea id='txtVal' cols='20' rows='2' class='CLASS1205'>";
        s = s#"</textarea>";
        s = s#"</div>";
      }
      else
      {
        s = s#"<a class='CLASS01206'>auf</a>";
        s = s#"<input id='txtVal' type='text' class='CLASS01207' value="; s = s#oDP.ValueMin(); s = s#" size='4'/>";
        s = s#"<a class='CLASS01213'>";
        s = s#"<img src='/ise/img/up.png' onclick='valueUp()' value='0' class='CLASS01208'/>";
        s = s#"</a>";
        s = s#"<a class='CLASS01214'>";
        s = s#"<img src='/ise/img/down.png' onclick='valueDown()' class='CLASS01208'/>";
        s = s#"</a>";
        s = s#"<a class='CLASS01209'>";
        
        if (oDP.ValueUnit() == "100%")
        {
          s = s#"%";
        } 
        else 
        {
          s = s#oDP.ValueUnit();
        }
        s = s#"</a>";
        s = s#"</div>";
      }
    %>
    $("tdEdit").innerHTML = "<% Write(s); %>";
    bOkAllowed = true;
  }
    
  loadChannelEdit = function()
  {
    bOkAllowed = false;  
    $("chaType").selectedIndex = 1;
    var s = "";
    s += "<table class='CLASS01212'>";
    s += "<tr>";
    s += "<td>";
    s += "<span id='chnName' onclick='channelChooser()' class='CLASS01215'>...</span> <span id='chnDP' style='display:none;'></span>";
    s += "<div id='chnBtn' onclick='channelChooser()' class='CLASS01217' style='display:none;'>Kanalauswahl</div>";
    s += "</td>";
    s += "</tr>";
    s += "</table>";
    $("tdEdit").innerHTML = s;
    
    var url = "/esp/system.htm?sid="+SessionId;
    var pb = '';
    pb += 'string action = "getChnNameById";';
    pb += 'integer id = "'+chnID+'";';
    var opts =
    {
      postBody: pb
    };
    new Ajax.Updater("chnName", url, opts);
    
    var url = "/esp/system.htm?sid="+SessionId;
    var pb = '';
    pb += 'string action = "CreateDPSelectBox";';
    pb += 'string chid = "'+chnID+'";';
    pb += 'string sdid = "<% Write(oSD.ID()); %>";';
    var opts =
    {
      postBody: pb,
      onComplete: function(t)
      {
        if( iseStripAll(t.responseText) == "" )
        {
          $("chnBtn").show();
        }
        else
        {
          $("chnBtn").hide();
          bOkAllowed = true;
        }
      }
    };
    new Ajax.Updater("chnDP", url, opts);
    
    $("chnDP").show();
  }
  
  loadSystemEdit = function()
  {
    bOkAllowed = false;
    $("chaType").selectedIndex = 2;
    var s = "";
    s += "<table>";
    s += "<tr>";
    s += "<td><span id='sysName' onclick='sysvarChooser()' class='CLASS01215'></span> <span id='sysDP' style='display:none;'></span>";
    s += "<div id='sysBtn' onclick='sysvarChooser()' class='CLASS01217' style='display:none;'>Auswahl";
    s += "</div>";
    s += "</td>";
    s += "</tr>";
    s += "</table>";
    $("tdEdit").innerHTML = s;
    
    var url = "/esp/system.htm?sid="+SessionId;
    var pb = '';
    pb += 'string action = "getChnNameById";';
    pb += 'integer id = "'+dpID+'";';
    var opts =
    {
      postBody: pb,
      onComplete: function(t)
      {
        if( iseStripAll(t.responseText) == "" )
        {
          $("sysBtn").show();
        }
        else
        {
          $("sysBtn").hide();
          bOkAllowed = true;
        }
      }
    };
    new Ajax.Updater("sysName", url, opts);
    $("sysName").show();
  }
  <%
    if( iVT == ivtObjectId )
    {
      Write( 'loadChannelEdit();' );
    }
    if( iVT == ivtSystemId )
    {
      Write( 'loadSystemEdit();' );
    }
  %>
  init();
  
</script>
