# Mapping of the maintenance channels
MAINTENANCE_BAT_BL=MAINTENANCE
MAINTENANCE_BAT_CL=MAINTENANCE
MAINTENANCE_BAT_EL=MAINTENANCE
MAINTENANCE_SD=MAINTENANCE

# Mapping of the paramset id
Contact AA_1=sc_ch
Thermostat AA=hmip-etrv
HMIP-eTRV-2=hmip-etrv
HmIP-eTRV-2=hmip-etrv
HmIP-PSM-CH=hmip-psm
HmIP-PSM-IT=hmip-psm
HmIP-PSM-PE=hmip-psm
HmIP-PSM-UK=hmip-psm
HmIP-SMO-A=hmip-smo
ALPHA-IP-RBG=hmip-wth-2

ALARM_SWITCH_VIRTUAL_RECEIVER.ACOUSTIC_ALARM_SELECTION.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.ACOUSTIC_ALARM_SELECTION
ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_UNIT.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_UNIT
ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_VALUE.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.DURATION_VALUE
ALARM_SWITCH_VIRTUAL_RECEIVER.OPTICAL_ALARM_SELECTION.Control=ALARM_SWITCH_VIRTUAL_RECEIVER.OPTICAL_ALARM_SELECTION
ANALOG_OUTPUT_TRANSCEIVER.LEVEL.Control=DIMMER.LEVEL
ANALOG_OUTPUT_TRANSCEIVER.VOLTAGE_0.Unit=100%
ANALOG_OUTPUT_TRANSCEIVER.VOLTAGE_100.Unit=100%

CLIMATECONTROL_FLOOR_PUMP_TRANSCEIVER.DEW_POINT_ALARM.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.DEW_POINT_ALARM
CLIMATECONTROL_FLOOR_PUMP_TRANSCEIVER.EMERGENCY_OPERATION.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.EMERGENCY_OPERATION
CLIMATECONTROL_FLOOR_PUMP_TRANSCEIVER.EXTERNAL_CLOCK.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.EXTERNAL_CLOCK
CLIMATECONTROL_FLOOR_PUMP_TRANSCEIVER.FROST_PROTECTION.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.FROST_PROTECTION
CLIMATECONTROL_FLOOR_PUMP_TRANSCEIVER.HUMIDITY_LIMITER.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.HUMIDITY_LIMITER
CLIMATECONTROL_FLOOR_PUMP_TRANSCEIVER.STATE.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.STATE
CLIMATECONTROL_FLOOR_TRANSCEIVER.DEW_POINT_ALARM.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.DEW_POINT_ALARM
CLIMATECONTROL_FLOOR_TRANSCEIVER.EMERGENCY_OPERATION.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.EMERGENCY_OPERATION
CLIMATECONTROL_FLOOR_TRANSCEIVER.EXTERNAL_CLOCK.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.EXTERNAL_CLOCK
CLIMATECONTROL_FLOOR_TRANSCEIVER.FROST_PROTECTION.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.FROST_PROTECTION
CLIMATECONTROL_FLOOR_TRANSCEIVER.HUMIDITY_LIMITER.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.HUMIDITY_LIMITER
CLIMATECONTROL_FLOOR_TRANSCEIVER.SHORT_ECO_COOLING_TEMPERATURE.Unit=°C
CLIMATECONTROL_FLOOR_TRANSCEIVER.SHORT_ECO_HEATING_TEMPERATURE.Unit=°C
CLIMATECONTROL_FLOOR_TRANSCEIVER.SHORT_HUMIDITY_LIMIT_VALUE.Unit=%
CLIMATECONTROL_FLOOR_TRANSCEIVER.SHORT_MINIMAL_FLOOR_TEMPERATURE.Unit=°C
CLIMATECONTROL_FLOOR_TRANSCEIVER.STATE.Control=CLIMATECONTROL_FLOOR_TRANSCEIVER.STATE

COND_SWITCH_TRANSMITTER.COND_TX_THRESHOLD_HI.Unit=mW
COND_SWITCH_TRANSMITTER.COND_TX_THRESHOLD_LO.Unit=mW

DIMMER_TRANSMITTER.LEVEL.Control=DIMMER_REAL.LEVEL
DIMMER_TRANSMITTER.FUSE_DELAY.Unit=s
DIMMER_TRANSMITTER.OVERTEMP_LEVEL.Unit=°C

DIMMER_VIRTUAL_RECEIVER.LEVEL.Control=DIMMER.LEVEL
DIMMER_VIRTUAL_RECEIVER.LEVEL.Unit=100%
DIMMER_VIRTUAL_RECEIVER.ON_TIME.Unit=s
DIMMER_VIRTUAL_RECEIVER.RAMP_TIME.Unit=s

ENERGIE_METER_TRANSMITTER.AVERAGING.Unit=s
ENERGIE_METER_TRANSMITTER.CURRENT.Control=POWERMETER_PSM.CURRENT
ENERGIE_METER_TRANSMITTER.CURRENT.Unit=mA
ENERGIE_METER_TRANSMITTER.ENERGY_COUNTER.Control=POWERMETER_PSM.ENERGY_COUNTER
ENERGIE_METER_TRANSMITTER.ENERGY_COUNTER.Unit=Wh
ENERGIE_METER_TRANSMITTER.ENERGY_COUNTER_OVERFLOW.Control=POWERMETER_PSM.ENERGY_COUNTER_OVERFLOW
ENERGIE_METER_TRANSMITTER.FREQUENCY.Control=POWERMETER_PSM.FREQUENCY
ENERGIE_METER_TRANSMITTER.FREQUENCY.Unit=Hz
ENERGIE_METER_TRANSMITTER.POWER.Control=POWERMETER_PSM.POWER
ENERGIE_METER_TRANSMITTER.POWER.Unit=W
ENERGIE_METER_TRANSMITTER.TX_THRESHOLD_ENERGY.Unit=Wh
ENERGIE_METER_TRANSMITTER.TX_THRESHOLD_POWER.Unit=W
ENERGIE_METER_TRANSMITTER.VOLTAGE.Control=POWERMETER_PSM.VOLTAGE
ENERGIE_METER_TRANSMITTER.VOLTAGE.Unit=V

GENERIC_INPUT_TRANSMITER.CHANGE_OVER.Control=GENERIC_INPUT_TRANSMITTER.CHANGE_OVER
GENERIC_INPUT_TRANSMITER.DBL_PRESS_TIME.Unit=s
GENERIC_INPUT_TRANSMITER.EXTERNAL_CLOCK.Control=GENERIC_INPUT_TRANSMITTER.EXTERNAL_CLOCK
GENERIC_INPUT_TRANSMITER.HUMIDITY_LIMITER.Control=GENERIC_INPUT_TRANSMITTER.HUMIDITY_LIMITER
GENERIC_INPUT_TRANSMITER.LONG_PRESS_TIME.Unit=s
GENERIC_INPUT_TRANSMITER.STATE.Control=GENERIC_INPUT_TRANSMITTER.STATE
GENERIC_INPUT_TRANSMITER.TACTILE_SWITCH.Control=GENERIC_INPUT_TRANSMITTER.TACTILE_SWITCH
GENERIC_INPUT_TRANSMITER.TEMPERATURE_LIMITER.Control=GENERIC_INPUT_TRANSMITTER.TEMPERATURE_LIMITER

HEATING_CLIMATECONTROL_SWITCH_TRANSMITTER.TWO_POINT_HYSTERESIS.Unit=°C

HEATING_CLIMATECONTROL_TRANSCEIVER.ACTIVE_PROFILE.Control=HEATING_CONTROL_HMIP.ACTIVE_PROFILE
HEATING_CLIMATECONTROL_TRANSCEIVER.ACTUAL_TEMPERATURE.Control=HEATING_CONTROL_HMIP.TEMPERATURE
HEATING_CLIMATECONTROL_TRANSCEIVER.BOOST_MODE.Control=HEATING_CONTROL_HMIP.BOOST_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.CONTROL_MODE.Control=HEATING_CONTROL_HMIP.CONTROL_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.FROST_PROTECTION.Control=HEATING_CONTROL_HMIP.FROST_PROTECTION
HEATING_CLIMATECONTROL_TRANSCEIVER.HUMIDITY.Control=HEATING_CONTROL_HMIP.HUMIDITY
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_MODE.Control=HEATING_CONTROL_HMIP.PARTY_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_SET_POINT_TEMPERATURE.Control=HEATING_CONTROL_HMIP.PARTY_SETPOINT_TEMP
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_TIME_END.Control=HEATING_CONTROL_HMIP.PARTY_TIME_END
HEATING_CLIMATECONTROL_TRANSCEIVER.PARTY_TIME_START.Control=HEATING_CONTROL_HMIP.PARTY_TIME_START
HEATING_CLIMATECONTROL_TRANSCEIVER.SET_POINT_MODE.Control=HEATING_CONTROL_HMIP.SETPOINT_MODE
HEATING_CLIMATECONTROL_TRANSCEIVER.SET_POINT_TEMPERATURE.Control=HEATING_CONTROL_HMIP.SETPOINT
HEATING_CLIMATECONTROL_TRANSCEIVER.WINDOW_STATE.Control=HEATING_CONTROL_HMIP.WINDOW_STATE

KEY_TRANSCEIVER.DBL_PRESS_TIME.Unit=s
KEY_TRANSCEIVER.LONG_PRESS_TIME.Unit=s
KEY_TRANSCEIVER.PRESS_LONG.Control=BUTTON_NO_FUNCTION.LONG
KEY_TRANSCEIVER.PRESS_SHORT.Control=BUTTON_NO_FUNCTION.SHORT

MAINTENANCE.COOLING_EMERGENCY_PWM_SIGNAL.Unit=%
MAINTENANCE.FROST_PROTECTION_TEMPERATURE.Unit=°C
MAINTENANCE.HEATING_EMERGENCY_PWM_SIGNAL.Unit=%

MAINTENANCE.UTC_OFFSET.Unit=min
MAINTENANCE.UTC_DST_OFFSET.Unit=min

MAINTENANCE_BAT_BL.UTC_OFFSET.Unit=min
MAINTENANCE_BAT_BL.UTC_DST_OFFSET.Unit=min

MAINTENANCE_BAT_CL.UTC_OFFSET.Unit=min
MAINTENANCE_BAT_CL.UTC_DST_OFFSET.Unit=min

MAINTENANCE_BAT_EL.UTC_OFFSET.Unit=min
MAINTENANCE_BAT_EL.UTC_DST_OFFSET.Unit=min

MAINTENANCE_SD.UTC_OFFSET.Unit=min
MAINTENANCE_SD.UTC_DST_OFFSET.Unit=min

MOTIONDETECTOR_TRANSCEIVER.MOTION_DETECTION_ACTIVE.Control=MOTIONDETECTOR_SMI.INVISIBLE

ROTARY_HANDLE_TRANSCEIVER.STATE.Control=RHS.STATE

SHUTTER_CONTACT_TRANSCEIVER.STATE.Control=DOOR_SENSOR.STATE
SHUTTER_CONTACT_TRANSCEIVER.STATE.TabOrder=0
SHUTTER_CONTACT_TRANSCEIVER.STATE.Unit=""
SHUTTER_CONTACT_TRANSCEIVER=SHUTTER_CONTACT

SMOKE_DETECTOR.SMOKE_DETECTOR_ALARM_STATUS.Control=DANGER.STATE
SMOKE_DETECTOR.SMOKE_DETECTOR_COMMAND.Control=SMOKE_DETECTOR.COMMAND
SMOKE_DETECTOR.SMOKE_DETECTOR_EVENT.Disabled=true

SWITCH_TRANSMITTER.STATE.Control=SWITCH_TRANSMITTER.STATE
SWITCH_VIRTUAL_RECEIVER.ON_TIME.Unit=s
SWITCH_VIRTUAL_RECEIVER.STATE.Control=SWITCH.STATE

# Units for the parameters of the HEATING_CLIMATECONTROL
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_COMFORT.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_LOWERING.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_LOWERING_COOLING.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_MAXIMUM.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_MINIMUM.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_OFFSET.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATURE_WINDOW_OPEN.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.TEMPERATUREFALL_VALUE.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SATURDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_SUNDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_MONDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_TUESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_WEDNESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_THURSDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P1_TEMPERATURE_FRIDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SATURDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_SUNDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_MONDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_TUESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_WEDNESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_THURSDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P2_TEMPERATURE_FRIDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SATURDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_SUNDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_MONDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_TUESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_WEDNESDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_THURSDAY_13.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_1.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_2.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_3.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_4.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_5.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_6.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_7.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_8.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_9.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_10.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_11.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_12.Unit=°C
HEATING_CLIMATECONTROL_TRANSCEIVER.P3_TEMPERATURE_FRIDAY_13.Unit=°C
