<div class="popupTitle">
&nbsp;
<% 
  Write(system.GetVar("title"));
%>
</div>

<div class="CLASS01100">
  <table class="popupTable CLASS01101" cellpadding="10" cellspacing="0">
    <colgroup>
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="50%" />
    </colgroup>
    <tr>
      <th class="CLASS01102">Name</th>
      <th class="CLASS01102">Typen-Bezeichnung</th>
      <th class="CLASS01102">Bild</th>
      <th class="CLASS01102">Bezeichnung</th>
      <th class="CLASS01102">Seriennummer</th>
      <th colspan="2" class="CLASS01103">Übertragungsmodus</th>
    </tr>
    <tr class="popupGrayCells CLASS01104" >
<%
  object chn = dom.GetObject(system.GetVar("chnId"));
  if (chn) {
    Write("<td class='CLASS01105'>"#chn.Name()#"</td>");
    Write("<td class='CLASS01105'>"#chn.Label()#"</td>");
    Write("<td class='CLASS01106'>");
    
    string sDevLbl = "";
    integer devid = chn.Device();
    if (devid != ID_ERROR) {
      object oDev = dom.GetObject(devid);
      sDevLbl = oDev.Label();
    }
    string pdId = "picDivT"#chn.ID();
    Write("<div id='"#pdId#"' class='CLASS01107'");
      Write(" onmouseover='picDivShow(jg_250, \""#sDevLbl#"\", 250, "#chn.ChnNumber()#", this);' onmouseout='picDivHide(jg_250);' ");
    Write("></div>");
  
    Write("</td>");
    Write("<td class='CLASS01105'>");
    Write("<div id='devdesc'></div>");
    Write("</td>");
    Write("<td class='CLASS01105'>"#chn.Address()#"</td>");
    Write("<td class='CLASS01108'>");
      Write("<select id='selMode' onchange='iseSaveMode()'>");
        string sel = "";
        if (chn.ChnAESActive() == false) {sel = "selected";}
        Write("<option "#sel#">${lblStandard}</option>");
        sel = "";
        if (chn.ChnAESActive()) {sel = "selected";}
        Write("<option "#sel#">${lblSecured}</option>");
      Write("</select>");
    Write("</td>");
    
    Write("<script type='text/javascript'>");
    Write("sPicDivId = '"#pdId#"';");
    Write("sDevLbl = '"#sDevLbl#"';");
    Write("iChnNr = "#chn.ChnNumber()#";");
    
    Write("$('devdesc').innerHTML = DEV_getDescription('"#sDevLbl#"');");
    Write("</script>");
  }
%>
      
      <td class="CLASS01109">
        Hinweis:
        Bei "Gesichert" authentifiziert sich Sender
        gegenüber dem Empfänger durch Kenntnis des
        System-Sicherheitsschlüssels.
        Durch die dadurch bedingte Erhöhung des
        Kommunikationsaufkommens verzögert sich
        die Abarbeitung des Befehls geringfügig und
        die Batterielebensdauer verringert sich.
        Bei "Standard" erfolgt keine Authentifizierung.
        Durch das dadurch bedingte niedrige
        Kommunikationsaufkommen ergibt sich eine
        schnelle Befehlsabarbeitung und maximale
        Batterielebensdauer.
      </td>
    </tr>
  </table>
</div>

<div class="popupControls">
  <div onclick="closeRetSelIdx()" class="CLASS01110">Schliessen</div>
</div>

<script type="text/javascript">
  var jg_0 = new jsGraphics(sPicDivId);  
  InitGD(jg_0, 50);
  Draw(jg_0, sDevLbl, 50, iChnNr);
  
  closeRetSelIdx = function() {
    PopupClose($("selMode").selectedIndex);
  };
  
  iseSaveMode = function() {
    var bAES = ($("selMode").selectedIndex == 1);
    iseChannels.setTransMode( <% Write(chn.ID()); %>, bAES);
  };
</script>
